::-webkit-scrollbar {
  width: .7em;
  background: black;

}
::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border: 0.25em solid black;
  border-radius: 100vw;
}



html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
     /* overflow: hidden; */
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700 !important;
  font-size: 1.8rem !important;
  background: linear-gradient(to right, #f32170,
      #ff6b08, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#title {
 background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(9,14,27,1) 100%);
  padding-bottom: 6vw;
}

.intro-head {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  background: linear-gradient(to right, #f32170,
      #ff6b08, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.phone {
  width: 65%;
  transform: rotate(25deg);
  margin-left: 180px;
  transition: all .9s ease-in-out;
  margin-top: 90px;
  position: relative;
}

.fas {
  padding-right: 9px;
  padding-left: 0px;

}

.phone:hover {
  transform: rotate(0deg);
}

.container-fluid {
  padding: 1.5% 0 4%;
}

.navbar-brand {
  font-size: 140% !important;
  padding: 1rem;
  font-weight: 500;
  margin-left: -35px;
}



.lala {
  padding-top: 8.5rem;
}

.nav-link {
  font-size: 1rem;
  color: grey ;
  font-family: 'Montserrat', sans-serif;
}

.nav-link::after {
    display: block;
    content: '';
    border-bottom: solid 4px rgb(243,33,112);
    background: linear-gradient(90deg, rgba(243,33,112,1) 0%, rgba(255,107,8,1) 50%, rgba(238,221,68,1) 100%);
    transform: scaleX(0);
    opacity: 80%;
    transition: all .4s ease-in-out;
  }

.nav-link:hover:after {
  transform: scaleX(1);
}

.nav-link:hover {
  color: white !important;
}


.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}




.download-button {
  margin: 5% 3% 5% 0;
  font-family: 'Montserrat', sans-serif;
}

/* features section */
#features {
  padding: 8% 3% 8%;
  text-align: center;
  background: rgb(9,14,27);
  background: linear-gradient(180deg, rgba(9,14,27,1) 55%, rgba(0,0,0,1) 100%);
  margin-top: 0px;

}

.white-box {
  background: rgb(14,17,39);
  background: linear-gradient(185deg, rgba(14,17,39,1) 0%, rgba(33,16,50,1) 100%);
  padding: 5.5%;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  display: inline-grid;
}



.damage {
  padding: 1% 20%;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.icon {
  padding-bottom: 15px;
  transition: all .6s ease-in-out;
  color: white;
}

.icon:hover {
  transform: scale(1.2);
}

.diagonal-line {
  width: 101.7%;
  height:2px;
  background: rgb(243,33,112);
  background: radial-gradient(circle, rgba(243,33,112,1) 0%, rgba(255,107,8,1) 50%, rgba(238,221,68,1) 100%);
  background-color: white;
  opacity: 50%;
  transform: rotate(-10deg);
  margin-top: 20px;
  margin-left: -15px;
  z-index: 0;
 }


/* Testimonials */
#testimonials {
  padding: 5% 5% 8%;
  text-align: center;
  background-color: black;
  margin-top: -2vw;
}

.black-box {
  /* background-color: #191919; */
  background-color: #090E1B;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 250px;
  padding-right: 250px;
  border-radius: 25px;
  transition: all .5s ease-in-out;
}



.testimonial-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
}

.blockchain {
  width: 22rem;
  margin-left: 836px;
  margin-top: -460px;
  margin-bottom: -90px;
}

.small-heads {
  font-family: 'Montserrat', sans-serif;
  color: #B6B6B6;
  font-size: 0.9rem;
}

.dala {
  text-align: left;
  padding-left: 70px;
}

.testimonial-text {
  font-size: 1.8rem !important;
}

.decentralised {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  color: white;
  word-spacing: 0.5rem;
  line-height: 1.9rem;

}

/* CAROUSEL */
.carousel-control-prev {
  margin-left: -74px;
}

.carousel-control-next {
  margin-right: -40px;
}

/* CAROUSEL END */
@media (max-width: 1200px) {
  .phone {
    transform: rotate(0deg);
    position: static;
    margin-top: 23px;
    margin-left: -05px;
  }

  #features {
    padding: 3% 3% 3%;
    text-align: center;
    background-color: black;
    margin-top: 0px;

  }

  #title {
    text-align: center;
  }

  .white-box {
    padding-left: 0px;
    padding-right: 0px;
  }

  .white-box:hover {
    transform: scale(1);
    padding: 11.5%;
  }

  .blockchain {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }
}

/* STEPS SECTION */


#steps {
 background-color: black;

}

.steps-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.steps-p {
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  color: #B6B6B6;
  text-align: center;
  word-spacing: .3rem;
  line-height: 1.2rem;

}

.steps-vid {
  width: 95rem;
  height: 40rem;
  z-index: -2;
  overflow: hidden;

}


/* .diagonal-line-2 {
  width: 101.7%;
  height:2px;
  background: rgb(243,33,112);
background: radial-gradient(circle, rgba(243,33,112,1) 0%, rgba(255,107,8,1) 50%, rgba(238,221,68,1) 100%);
  transform: rotate(10deg);
  margin-top: 10px;
    margin-left: -15px;
} */


#ui-ux {
  background-color: black;

}

.ui-vid {
  width: 95rem;
  height: 40rem;
  z-index: -3;
  overflow: hidden;

}

#cta {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(9,14,27,1) 42%);
  overflow: hidden;
  padding: 3vw 6vw 6vw 6vw;

}

.team-head {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  text-align: left;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.cta-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;

}






.team-dhruv {
  display: flex;
  width: 25vw;
  height: 40vw;
  background: rgb(243,33,112);
  /* background: linear-gradient(180deg, rgba(243,33,112,1) 0%, rgba(0,0,0,1) 100%); */
  border-radius: 1em;
}

.team-manan {
  display: flex;
      width: 60vw;
      height: 20vw;
      background: rgb(189,0,255);
      /* background: linear-gradient(180deg, rgba(189,0,255,1) 0%, rgba(0,0,0,1) 100%); */
      border-radius: 1em;
      margin-left: -40px;
}

.team-agestya {
  display: flex;
  width: 60vw;
  height: 18vw;
  background: rgb(255,107,8);
  /* background: linear-gradient(180deg, rgba(255,107,8,1) 0%, rgba(0,0,0,1) 100%); */
  border-radius: 1em;
  margin-top: 22vw;
  margin-left: -500px;
}

#cta img {
      width: 3.75rem;
      padding: 0px;
      margin-left: 3vw;
      position: absolute;
      margin-top: 2.75vw;
      border-radius: 50%;
}

.team-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.3vw;
  padding-top: 2.8vw;
  padding-left: 8vw;
  color: white;
}

.team-para {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.7vw;
  position: absolute;
  margin-top: 4.7vw;
  margin-left: 8.1vw;
  color: white;
}

.dhruv-bol {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .85vw;
    position: absolute;
    padding-top: 8.4vw;
    padding-left: 3vw;
    padding-right: 71vw;
    color: white;
}

.agestya-bol {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: .85vw;
  padding-left: 3vw;
  padding-right: 8vw;
  padding-top: 2.8vw;
  margin-top: 5vw;
  margin-left: 0vw;
  color: white;

}

.manan-bol {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: .85vw;
  padding-left: 3vw;
  padding-right: 8vw;
  padding-top: 2.8vw;
  margin-top: 5vw;
  margin-left: 0vw;
  color: white;
}


#intro {
  background-color: #090E1B;
  overflow: hidden;
  padding-left: 13vw;
  padding-right: 10vw;
  padding-top: 1vw;
  padding-bottom: 3vw;
}

.intro-grid {
  padding-right: 6vw !important;
  padding-left: 0vw !important;
  margin-right: -34px;
}

.main-intro-grid {
  padding-right: 3vw !important;
  margin-right: 6vw;
}


.intro-icon {
  margin-bottom: 1vw;
  color: white;
}

.btc-intro-icon {
  margin-bottom: 1vw;
  color: white;
  transform: rotate(15deg);
}

.main-introduction {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  text-align: left;
  margin-bottom: 2vw;
  font-size: 2.2em;
  }

  .main-introduction-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #B6B6B6;
    text-align: left;
    word-spacing: 0.1rem;
    margin-right: -14px;
  }

.introduction {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  text-align: left;
  margin-bottom: 2vw;
  font-size: 1.5em;
}


.introduction-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  color: #B6B6B6;
  text-align: left;
  word-spacing: 0.1rem;
  margin-right: -20px;
}
